# No whitespace after the comma or in your part name!
config SHIELD_KRAKEN_LEFT
    def_bool $(shields_list_contains,kraken_left)

# No whitespace after the comma or in your part name!
config SHIELD_KRAKEN_RIGHT
    def_bool $(shields_list_contains,kraken_right)